<section id="help">
  <div class="container text-xs-center">
    <div class="row">
      <div class="col-xs-12 heading-wrapper">
        <h2>Featured Repositories</h2>
      </div>
    </div>
    <div class="row help-grid-container flx flx-wrap">
      {{#each featuredRepositories as |featuredRepository|}}
        <div class="col-xs-6 col-sm-4 help-item flx center-block border-bottom border-none-sm-bottom border-none-md-bottom border-none-lg-bottom border-right border-none-xs-right">
          <a href={{featuredRepository.html_url}}>
            <div class="highlight"></div>
            {{!-- Add icons later
              <div class="help-icon-bg">
                <span class="help-icon exp-l034-alert-report-icon"></span>
              </div>
            --}}
            <h5>{{featuredRepository.name}}</h5>
            <p>{{featuredRepository.description}}</p>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<section id="questions">
  <div class="container text-xs-center">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2">
        <div class="heading-wrapper">
          <h2>Search our repositories.</h2>
          <h4>GitHub hosts our open source repositories, code and documentation.</h4>
        </div>
        {{#link-to "repos" classNames="btn btn-primary"}}View All{{/link-to}}
      </div>
    </div>
  </div>
</section>

<section id="sign-up-form" class="white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="form-wrap flx flx-jc-xc">
          <div class=" flx flx-yc flx-jc-xc content-wrap">
            <h5 class="mb-xs-0 mr-xs-0 mr-sm-40">Contribute to our repositories on GitHub.</h5>
          </div>
          <div class="flx flx-yc flx-jc-xc">
            <a href="https://github.com/experianplc" class="btn btn-primary" type="submit">View on
              GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
