<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0">
        <div class="row">
          <div class="col-xs-12">
            <div id="mid-footer-container">
              <ul class="mid-footer-links first-row">
                <li><a href="https://experian.com/corporate/legalterms.html">Legal Terms &amp; Conditions</a></li>
                <li><a href="https://experian.com/privacy/index.html">Privacy Policy</a></li>
                <li><a href="//www.experianplc.com/media/news">Press</a></li>
                <li><a href="https://experian.com/corporate/careers-home.html">Careers</a></li>
              </ul>
              <ul class="mid-footer-links last-row">
                <li><a href="//www.experianplc.com/">Investor Relations</a></li>
                <li><a href="https://developers.experian.com">Developers</a></li>
                <li><a href="https://experian.com/corporate/experian-community.html">Online Community</a></li>
                <li class="last"><a href="https://experian.com/corporate/personal-services-contacts.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
