<header>
  <nav class="mobile-nav-closed">
    <div class="mboxDefault">
      <div class=" flx flx-wrap">
        <div class="main-nav-container flx flx-yc">
          <div class="mobile-top-bg"></div>
          <div class="container">
            <div class="row">

              <div class="col-xs-12 flx main-menu-wrap flx-ys">
                <div class="mobile-top-header flx flx-yc">
                  {{#link-to "index" classNames="logo"}}
                    <div class="logo-img"></div>
                  {{/link-to}}
                </div>

                {{!-- Right now we don't want any of these 
                  <ul class="left-main-nav main-nav flex-nav">
                    <li class="main-nav-item ">

                      <a class="main-dropdown-link flx flx-yc products-link" href="/consumer-products/compare-credit-report-and-score-products.html"><span>Reports &amp; Scores</span></a>
                      <span class="mobile-dropdown-link ">Reports &amp; Scores <span class="dropdown-state plus"></span></span>
                    </li>
                    <li class="main-nav-item">

                      <a class="main-dropdown-link flx flx-yc identity-link" href="/consumer-products/identity-theft-and-credit-protection.html"><span>Identity Protection</span></a>
                      <span class="mobile-dropdown-link ">Identity Protection <span class="dropdown-state plus"></span></span>
                    </li>
                    <li class="main-nav-item">

                      <a class="main-dropdown-link flx flx-yc credit-link" href="/credit/credit-cards-and-personal-loans/"><span>Credit Cards &amp; Loans</span></a>
                      <span class="mobile-dropdown-link ">Credit Cards &amp; Loans <span class="dropdown-state plus"></span></span>
                    </li>
                    <li class="main-nav-item">

                      <a class="main-dropdown-link flx flx-yc support-link" href="/help/"><span>Credit Report Assistance</span></a>
                      <span class="mobile-dropdown-link ">Credit Report Assistance <span class="dropdown-state plus"></span></span>
                    </li>
                    <li class="main-nav-item">

                      <a class="main-dropdown-link flx flx-yc education-link" href="/blogs/ask-experian/"><span>Education</span></a>
                      <span class="mobile-dropdown-link">Education <span class="dropdown-state plus"></span></span>
                    </li>
                  </ul>
                --}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </nav>
</header>
